@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');

/********************************************************************/
:root {
    --myyellow: #D7B418;
    --myblue: #154084;
    --mygray: #EDEDED;
    --myred: #9D2719;
    --myblack: #222222;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Old Standard TT", sans-serif;
	background-image: url('/bg.jpeg');
	background-position: 100px -200px;
	background-repeat: no-repeat;
}

/********************************************************************/

header {
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}

header p {
	font-size: 18pt;
}

/********************************************************************/

nav {
	margin: 0 auto;
	margin-top: 50px;
	position: sticky;
	top: 0px;
	padding: 10px;
	text-align: center;
	background: white;
	z-index: 100;
}

nav a {
	font-size: 17pt;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #000;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	color: #222;
	background: #fff;
}

nav a:hover {
	color: #000;
}

/********************************************************************/

/*
#home {
	position: relative;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	background-image: url('./bg.jpeg');
	background-scale: 0.5;
	min-height: 100%;
}

#topo-wrapper-title {
	text-align: center;
	padding-bottom: 150px;
	padding-top: 150px;
}

@media only screen and (max-height: 1100px) {
	#home {
		min-height: 100%;
	}
}
*/

/********************************************************************/

#confspeakers p {
	line-height: 1.5em;
	text-align: center;
}

.topo-wrapper-confspeakers {
	display: flex;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 700px;
}

.speaker {
	font-size: 18pt;
	color: #000;
	font-weight: bold;
}

.aff {
	color: #555;
}

/********************************************************************/

#conduct {
	
}

#conduct p {
	text-align: justify;
	font-size: 17pt;
}

.topo-wrapper-conduct {
	color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	
}

/********************************************************************/

#program {
	position: relative;
	background-position: center;
	background-color: #fff;
}

.topo-wrapper-program {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

/********************************************************************/

#participants {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-position: center;
	background-size: cover;
	background-color: #fff;
}

.topo-wrapper-participants {
	text-align: center;
	color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
}

@media only screen and (min-width: 900px) {
	.topo-wrapper-participants {
		width: 700px;
	}
}

@media only screen and (min-width: 900px) {
	.topo-wrapper-title {
	/*transform: translate(0, -10%);*/
	}
}

/********************************************************************/

#venue {
	min-height: 100%;
	background-color: #aaa;
	display: flex;
}

.topo-venue-description {
	flex: 50%;
}

.topo-venue-picture {
	flex: 50%;
}

/********************************************************************/

#contact {
	background-color: #ddd;
	min-height: 600px;
}

/********************************************************************/

h1 {
	font-size: 40pt;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #111;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 25pt;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #111;
	margin: 30px 0px 20px 0px;
	padding: 0px;
}

h3 {
	font-size: 20pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #111;
	margin:0px;
	padding: 0px;
	padding-top: 20px;
}

/********************************************************************/

.topo-today {
	background-color: #afe;
}

/********************************************************************/

table {
	width: 700px;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	table-layout: fixed;
	font-size: 14pt;
	border-collapse: collapse;
}

td {
	border-collapse: collapse;
	border-bottom: 1px solid #aaa;
	margin: 0;
	padding: 10px;
}

th {
	border-collapse: collapse;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	font-weight: normal;
	padding: 10px;
}



/********************************************************************/

.topo-div-day-hidden {
        display: none !important;
        border: 0px;
}

.topo-td-hidden {
        max-height: 0px !important;
        border: 0px !important;
}


.topo-cell-clickable {
	-webkit-transition: color 0.5s; 
	-moz-transition: color 0.5s; 
	-ms-transition: color 0.5s; 
	-o-transition: color 0.5s; 
	transition: color 0.5s; 
        color: blue;
}

.topo-cell-clicked {
        background: #afa;
        border-bottom: 0px;
}

.topo-cell-clickable:hover {
        cursor: pointer;
        color: black;
}

.topo-description {
        display: block;
        padding: 40px;
        background: #afa;
}

.topo-schedule-td {
	-webkit-transition: max-height 0.5s; 
	-moz-transition: max-height 0.5s; 
	-ms-transition: max-height 0.5s; 
	-o-transition: max-height 0.5s; 
	transition: max-height 0.5s; 
        /* */
        max-height: 600px;
        padding: 0px;
        border-bottom: 1px solid #000; 
        border-left: 1px solid #000; 
        border-right: 1px solid #000; 
}

/********************************************************************/

#topo-search-participants {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	margin: 10px 00px 10px 0px;
	padding: 8px 60px 8px 8px;
	border: 1px solid #aaa;
	font-family: "Old Standard TT", sans-serif;
	font-size: 15pt;
	width: 100%;
}

@media only screen and (min-width: 900px) {
	#topo-search-participants {
		width: 630px;
	}
}

#topo-participants-container {
	overflow:auto;
	background: #fff;
	border: 1px solid #aaa;
}

#topo-participants-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 300px;
}

#topo-participants-ul li span {
	padding: 8px;
	text-decoration: none;
	font-size: 15pt;
	font-family: "Old Standard TT", sans-serif;
	text-align: left;
	color: black;
	display: block;
}

#topo-participants-ul li:nth-child(odd) {
	background-color: #fafafa;
	color: #fff;
}

#topo-participants-ul li a:hover:not(.header) {
	/*background-color: #f2f2f2;*/
}

.expand{
	position:relative;
	text-decoration:none;
	display:inline-block;
}

.expand:after {
	display:block;
	content: '';
	border-bottom: solid 1px #000;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	transform-origin:100% 50%
}

.expand:hover:after { 
	transform: scaleX(1);
	transform-origin:0 50%;
}

/********************************************************************/

#registration {
}

.topo-wrapper-registration {
	color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}

@media only screen and (min-width: 900px) {
	.topo-wrapper-registration {
		width: 700px;
	}
}

#registration label {
	font-size: 15pt;
	margin-top: 10px;
	display:block;
}

#registration select {
	font-family: "Old Standard TT", sans-serif;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	margin: 5px 00px 15px 0px;
	padding: 8px 8px 8px 8px;
	border: 1px solid #aaa;
	font-size: 15pt;
	width: 100%;
	box-sizing: border-box;
}

.topo-one-line-input, .topo-mult-line-input {
	font-family: "Old Standard TT", sans-serif;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	margin: 5px 00px 15px 0px;
	padding: 8px 8px 8px 8px;
	border: 1px solid #aaa;
	font-size: 15pt;
	width: 100%;
	box-sizing: border-box;
	display:block;
}

.topo-checkbox-input {
	text-align: justify;
}

.topo-mult-line-input {
	resize: none;
	display:block;
}

#registration-msg {
	font-size:14pt;
	text-align: justify;
}
