@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 65px;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;  
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
}

main {
	margin: 0 auto;
	max-width: 740px;
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: black;
}

sup {
	vertical-align: top;
	font-size: 0.6em;
}

#home-title-container {
	text-align: center;
}

#home-title-container img {
	margin: 0 auto;
	max-height: 170px;
	max-width: 80%;
}

#venue img {
	margin: 0 auto;
	max-height: 400px;
	max-width: 100%;
}

h2 {
	font-size: 1.3em;
	color: black;
	font-weight: 300;
	text-align: center; /* or justify */
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 20px;
	text-decoration: underline;
}

h1, h3 {
	font-size: 1.3em;
	color: black;
	font-weight: 300;
	text-align: center; /* or justify */
	text-transform: uppercase;
	margin: 10px;
	letter-spacing: 0.1em;
	line-height: 1.7em;
}


/********************************************************************/

section {
	padding-top: 10px;
	padding-bottom: 30px;
}

.abstract, section > p {
	font-family: "Source Sans 3";
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	hyphens: auto;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}



ul {
	font-family: "Source Sans 3";
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	hyphens: auto;
	margin-left: 30px;
	margin-right: 30px;
}

table {
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	border-spacing: 8px;
}

td {
	font-family: "Source Sans 3";
	max-width: 160px;
	text-align: center;
}

.td-spk {
	border: 1px solid #c8c8b8;
	background-color: #fff;
	min-width: 80px;
	box-shadow: 2px 2px #e4e4de;
	line-height: 1em;
}

.td-break {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 1em;
}


.td-spk60 {
    height: 90px;
}

.td-spk40 {
    height: 60px;
}

.td-spk20 {
    height: 30px;
}

.td-spk-blue {

}

.td-spk-green {

}

.td-spk-yellow {

}

.td-event {
    border-top: 1px solid #ddd; /* #a1d9b4; */
    border-left: 1px solid #ddd; /* #a1d9b4; */
    border-right: 1px solid #ccc; /* #a1d9b4; */
    border-bottom: 1px solid #ccc; /* #a1d9b4; */
    background-color: #fff;
}

 .td-hour {
	vertical-align: top;
	text-align: right !important;
	 padding-right: 5px;
  	font-size: 0.9em;
}


.progr-spk-name {
    list-style-type: circle;
    margin-bottom: 1px;
    font-weight: 400;
}

.progr-spk-talk {
    list-style-type: none;
    margin-bottom: 5px;
    font-style: italic;
}

/********************************************************************/

#committee {
    background: #EEEBFF;
    border: 1px solid #DCD6FF;
    border-radius: 10px;
    margin-top: 20px;
}

#program {
	background: #FAF9F0;
	border: 1px solid #F4F1DE;
	border-radius: 10px;
	padding-bottom: 42px;
	margin-top: 30px;
}

#nextweek {
    background: #F6FBF4;
    border: 1px solid #E9F1E5;
	border-radius: 10px;
	padding-bottom: 42px;
	margin-top: 30px;
}

/********************************************************************/


#speakers {
	background: #FAF9F0;
	border: 1px solid #F4F1DE;
	border-radius: 10px;
	padding-bottom: 42px;
	margin-top: 30px;
}

#speakers p {
	text-align: center !important;
}

.invited-speakers, .invited-lecturers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
}

.spk {
	text-align: center;
	min-width: 180px;
	max-width: 240px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}


.lec {
	text-align: center;
	width: 215px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

.spk-name, .lec-name {
	font-size: 1.3em;
	font-weight: 400;
	margin: 0px;
	margin-bottom: 8px;
}

.lec-title {
	font-family: "Old Standard TT";
	font-style: italic;
	font-size: 0.95em;
	margin: 5px;
}

.spk-affil, .lec-affil {
	font-size: 0.8em;
	color:#444;
	padding: 0;
	font-weight: 300;
	margin: 0px;
	text-transform: uppercase;
}

#home-logos {
	text-align: center;
	padding-top: 20px;
}

.subt {
	font-size: 18pt;
}

/********************************************************************/

.cald {
	margin-left: 10px;
	margin-right: 10px;
}

.cald td {
	text-align: center;
	font-weight: 300;
	padding: 5px 4px;
    
}
.cald th {
	text-align: center;
	font-weight: 300;
	font-size: 0.8em;
}

/********************************************************************/

nav {
	position: sticky;
	top: 0;
	height: 60px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	display: flex;
	z-index: 10;
	background: #f8f8f8;
}

nav a {
	margin-left: 20px;
	font-weight: 400;
	text-decoration: none;
	color: #24376d;
}

@media only screen and (max-width: 450px) {
	nav a {
		font-size: 0.55em;
		min-width: 5px;
		padding-top:5px;
		margin-left: 10px;
	}
}

@media only screen and (min-width:450px) and (max-width: 620px) {
	nav a {
		font-size: 0.75em;
		min-width: 5px;
		padding-top:5px;
		margin-left: 10px;
	}
}

@media only screen and (min-width: 620px) {
	nav a {
		font-size: 0.9em;
	}
}

.register-div {
	font-size: 1.25em;
	text-decoration: underline;
	padding: 7px 14px;
	text-align: center;
	font-weight: 400;
}

.register-div a {
	color: red;
	-webkit-transition: color 300ms linear;
	-moz-transition: color 300ms linear;
	-o-transition: color 300ms linear;
	-ms-transition: color 300ms linear;
	transition: color 300ms linear;
	line-height: 1.5em;
}

.register-div a:hover {
	color: black;
}



/********************************************************************/

.email-a {
	text-decoration:none;
	font-size: 13pt;
	font-weight: bold;
	color: black;
	padding: 0;
}

.email-div {
	margin-left: 20px;
	margin-right: 20px;
	padding: 1px;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

.email-div:hover {
	background-color: #ffe6b8;
}

#info {
	display: flex;
	justify-content: center;
	align-items: center;
}

/********************************************************************/

.reveal {
	position: relative;
	opacity: 0;
}

.reveal.active {
	opacity: 1;
}

.active.fade-bottom {
	animation: fade-bottom 500ms ease-in;
}

.active.fade-left {
	animation: fade-left 500ms ease-in;
}

.active.fade-right {
	animation: fade-right 500ms ease-in;
}

@keyframes fade-bottom {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.participants-div {
	text-align: center;
	margin: 6px 13px;
	width: 146px;
}

.participants-name {
	font-size: 1.05em;
	font-weight: 400;
	margin-bottom: 4px;
}

.participants-data {
	font-family: "Source Sans 3";
	font-size: 0.8em;
	margin-top: -2px;
	margin-bottom: 0px;
	color: #737373;
}
