@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600&display=swap');

/********************************************************************/

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: "Source Sans 3", sans-serif;
}

main {
	height: 100vh;
}

article {
	margin: 0 auto;
	display: flex;
	position: relative;
}

a {
	text-decoration: none;
	color: black;
}

/********************************************************************/

#home-title-container {
	padding-bottom: 15px;
}

/* Normal screen  */

@media only screen and (min-width: 1001px) and (min-height: 701px) {
	
	#home-title-container {
		padding-left: 39px;
		float: right;
		text-align: right;
	}
	
	#home-title-container img {
		width: 134px;
	}
}

/* Cellphone or tablet  */

@media only screen and ((max-width: 1000px) or (max-height: 700px)) {
	
	#home-title-container {
		
	}
	
	#home-title-container img {
		width: 100px;
	}
}
	
.topo-t-margin {
	/*  margin-top: 30px; */
}

h1, h2, h3 {
	font-size: 15pt;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin:0px;
	padding-left 0px;
	padding-right: 0px;
	color: firebrick;
	font-weight: 500;
}

.h-home-date, .h-home-title, .h-home-place {
	padding-left: 155px;
	text-align: center; /* or justify */
	padding-top: 0;
}

.h-home-date {
	font-size: 18pt !important;
}

.h-home-title {
	font-size: 20pt !important;
	/*! font-weight: 500; */
}

.h-home-place {
	font-size: 16pt !important;
}

/********************************************************************/

/* Normal screen  */

@media only screen and (min-width: 1001px) and (min-height: 701px) {

	main {
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}
	
	.wrapper {
		margin: 0 auto;
		width: 900px;
		/*! max-width: 919px; */
		/*! min-height: 700px; */
	}
	
	article {
		width: 100vw;
		height: 100vh;
		scroll-snap-stop: always;
		justify-content: center;
		align-items: center;
	}

}

/* TABLET AND MOBILE */

@media only screen and ((max-width: 1000px) or (max-height: 700px)) {

	.wrapper {
		margin: 0 auto;
		padding: 20px;
		max-width: 1050px;
	}
	
	article {
		width: 100vw;
	}

}

#home {
	scroll-snap-align: start;
}


/********************************************************************/

.abstract {
	font-size: 11pt;
	line-height: 1.5em;
	font-family: "Source Sans 3", sans-serif;
	text-align: justify;
	hyphens: auto;
}

/* Normal Screen */
@media only screen and ((min-width: 1001px) and (min-height: 701px)) {

	#home-top {
		display: flex;
	}
	
	#home-invited {
		text-align: left;
		flex: 30%;
		padding-left: 28pt;
		margin: 0;
	}
	
	#home-invited > h3 {
		text-align: left !important;
		margin-top: 0px;
		padding-top: 0px;
	}
	
	#home-description {
		flex: 60%;
	}
	
	.abstract {
		max-width: 660px;
		padding-left: 155px;
		padding-top: 0px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 300;
	}

}

/* Mobile Tablet */

@media only screen and ((max-width: 1000px) or (max-height: 700px)) {

	#home-description {
		text-align: center;
	}
	
	#home-invited {
		margin-top: 30px;
		text-align: center;
	}
	
	#home-top {
		flex-direction: column;
		padding-top: 40px;
	}
	
	h1 {
		text-align: center;
	}
	
	.h-home-date, .h-home-title, .h-home-place {
		padding-left: 0px;
		text-align: center;
	}
	
	.abstract {
		padding-top: 20px;
		max-width: 650px;
		margin: 0 auto;
	}

}

#home-logos {
	text-align: center;
	padding-top: 20px;
}

#home-logos img { }

.subt {
	font-size: 18pt;
}

/********************************************************************/

nav {
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

nav a {
	text-decoration: none;
}

.nav-div {
	text-decoration: none;
	padding: 7px 14px;
	font-size: 12pt;
	text-decoration: none;
	text-align: center;
	color: #000;
	background-color: #fff6e6;
	box-shadow: 1px 1px #f29f05;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
	/*! font-weight: 300; */
}

.nav-div:hover {
	background-color: #ffe6b8;
}

/* Normal Screen */
@media only screen and ((min-width: 1001px) and (min-height: 701px)) {

	nav a {
		margin-left: 30px;
		display: flex;
		justify-items: center;
		align-content: center;
		justify-content: center;
	}
	
}

/* Mobile tablet */
@media only screen and ((max-width: 1000px) or (max-height: 700px)) {

	nav {
		flex-direction: column ;
	}
	
	nav a {
		margin-top: 10px;
	}

}

/********************************************************************/

.keynote {
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 5px;
}

.descrip {
	font-size: 10pt;
	color:#444;
	margin-top:0px;
	padding: 0;
	/*! font-family: "Libre Franklin"; */
	font-weight: 300;
	margin-bottom: 10px;
}

/********************************************************************/

.email-a {
	text-decoration:none;
	font-size: 14pt;
	font-weight: bold;
	color: black;
	padding: 0;
}

.email-div {
	margin-left: 20px;
	margin-right: 20px;
	padding: 1px;
	background-color: #fff6e6;
	box-shadow: 1px 1px #f29f05;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

.email-div:hover {
	background-color: #ffe6b8;
}

#info {
	scroll-snap-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#program1 {
	scroll-snap-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#program2 {
	scroll-snap-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.abstract-ws {
    font-size: 12pt;
    line-height: 1.5em;
    /*! font-family: "Libre Franklin"; */
    text-align: justify;
}

/* Normal Screen */
@media only screen and (min-width: 1001px) and (min-height: 701px) {
	
	.abstract-ws {
		padding-left: 130px;
		padding-right: 130px;
		font-weight: 300;
	}

}

#info-info {
	flex: 100%;
	text-align: justify;
}

#info-info > h3 {
	text-align: center;
}

#info-keydates {
	text-align: center;
}

#info-keydates > h3 {
	text-align: center;
}

#info-commitee {
	text-align: center;
}

#info-sub2 {
	display: flex;
	justify-content: center;
}

/* Normal screen */

@media only screen and (min-width: 1001px) and (min-height: 701px) {
		
	#info-keydates {
		min-width: 275px;
	}
		
	#info-commitee {
		min-width: 350px;
	}
	
	#info-sub2 {
		padding-top: 30px;
	}

}

/* Phone or tablet */

@media only screen and ((max-width: 1000px) or (max-height: 700px)) {
	
	#info-sub2 {
        	flex-direction: column;
	}
	
}

#info-commitee > h3 {
	text-align: center;
}

/********************************************************************/

#registration {
	background-color: white;
	scroll-snap-align: end;
}

#registration label {
	font-size: 12pt;
	margin-top: 5px;
	display: block;
	font-family: "Libre Franklin";
}

#registration select, option {
	font-family: "Libre Franklin";
	background-position: 10px 12px;
	background-repeat: no-repeat;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 0px;
	font-size: 11pt;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
}

/* Normal screen */

@media only screen and ((min-width: 1001px) and (min-height: 701px)) {

	.regDivParent {
	    display: flex;
	    gap: 20px;
	    margin: 0 auto;
	}

	.regDiv {
	    flex: 50%;
	}

}

/* Phone */

@media only screen and ((max-width: 1000px) or (max-height: 700px)) {
    .regDivParent {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
	.regDiv {
	    flex: 100%;
	}
}

.topo-one-line-input, .topo-mult-line-input {
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border: 1px solid #aaa;
	font-size: 11pt;
	width: 100%;
	display: block;
	font-family: "Libre Franklin";
}

.topo-checkbox-input * {
	text-align: justify;
	font-family: "Libre Franklin";
}

.topo-mult-line-input {
	resize: none;
	display:block;
	font-family: "Libre Franklin";
}

#registration-msg {
	font-size: 14pt;
	text-align: justify;
	font-family: "Libre Franklin";
	padding: 0px;
	margin: 10px 0px;
}

/********************************************************************/

#venue {
	scroll-snap-align: center;
}

#venue-right p {
	text-align: justify;
	font-size: 12pt;
	/*! font-family: "Libre Franklin"; */
	line-height: 1.5em;
	font-weight: 300;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* Normal screen */
@media only screen and ((min-width: 1001px) and (min-height: 701px)) {
	
	#venue-content {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		max-width: 1000px;
		width: 100%;
	}
	
	#venue-left {
		flex: 44%;
	}
	
	#venue-right {
		flex: 60%;
	}

}

/* Phone or tablet */

@media only screen and ((max-width: 1000px) or (max-height: 700px)) {
	
	#venue-content {
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		width: 100%;
	}
	
	#venue-left {
		flex: 100%;
		text-align: center;
	}
	
	#venue-right {
		flex: 100%;
	}

}

.topo-today {
	background-color: #afe;
}

table {
	width: 700px;
	/*
	max-width: 700px;
	*/
	margin: 0 auto;
	/*
	margin-top: 20px;
	margin-bottom: 20px;
	*/
	text-align: center;
	table-layout: fixed;
	font-size: 13pt;
	/*! border-collapse: collapse; */
}

td {
	/*! border-collapse: collapse; */
	/*! border-bottom: 1px solid #aaa; */
	margin: 0;
	padding: 10px;
	border: 1px solid #ddd;
}

th {
	border: 1px solid #ddd;
	/*! border-top: 1px solid #aaa; */
	/*! border-collapse: collapse; */
	font-weight: normal;
	padding: 10px;
}


/************************************************/

.topo-div-day-hidden {
        display: none !important;
        border: 0px;
}

.topo-td-hidden {
        max-height: 0px !important;
        border: 0px !important;
}

.topo-cell-clickable {
	-webkit-transition: color 0.5s; 
	-moz-transition: color 0.5s; 
	-ms-transition: color 0.5s; 
	-o-transition: color 0.5s; 
	transition: color 0.5s; 
}

.topo-cell-clicked {
        background: #afa;
        border-bottom: 0px;
}

.topo-cell-clickable:hover {
        cursor: pointer;
        color: blue;
}

.topo-description {
        display: block;
        padding: 25px;
        background: #afa;
	text-align: justify;
	hyphens: auto;
}

.topo-schedule-td {
	-webkit-transition: max-height 0.5s; 
	-moz-transition: max-height 0.5s; 
	-ms-transition: max-height 0.5s; 
	-o-transition: max-height 0.5s; 
	transition: max-height 0.5s; 
        /* */
        max-height: 600px;
        padding: 0px;
        border-bottom: 1px solid #000; 
        border-left: 1px solid #000; 
        border-right: 1px solid #000; 
}
